#map-container {
	width: 100vw;
	height: 100vh;
}

.points-info {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 999;
	font-size: 15px;
	color: rgb(65, 62, 62);
}
#panel {
	position: fixed;
	background-color: white;
	max-height: 90%;
	overflow-y: auto;
	top: 10px;
	right: 10px;
	width: 280px;
}
#panel .amap-call {
	background-color: #009cf9;
	border-top-left-radius: 4px;
	   border-top-right-radius: 4px;
}
#panel .amap-lib-walking {
	border-bottom-left-radius: 4px;
	   border-bottom-right-radius: 4px;
	overflow: hidden;
}
.building-list {
	margin-top: 10px;
	width: 25vw;
	height: 600px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	overflow: auto;
}
.building-list > div {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 10px;
}
.building-list > div:hover {
	background-color: rgb(204, 204, 204);
}